/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 15, 2023, 1:13:17 AM
    Author     : lakru
*/
body {
    background: url("/images/home-background.png") center center / cover no-repeat fixed;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}


/* ===========================================================================*/


/* navigation bar start */

.navbar .navbar-nav .nav-item a {
    padding: 15px;
}

.navbar .navbar-nav .nav-but {
    padding: 10px;
}

.bg-color {
    background-color: #090b13 !important;
    color: white !important;
}

.icoon {
    padding: 7px;
}

.nav-link_ {
    position: relative;
}

.nav-link_::after {
    content: '';
    opacity: 0;
    transition: all 300ms;
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link_:hover::after {
    opacity: 1;
}

/* logo */

.logog:hover {
    transform: scale(1.1);
    transition: 200ms ease-in-out;
}